<h1>お知らせ一覧</h1>

<%= link_to '新規投稿', new_announcement_path, class: 'btn new-post-btn' %> <!-- 新規投稿ボタン -->

<ul>
  <% @announcements.each do |announcement| %>
    <li>
      <%= link_to announcement.title, announcement_path(announcement) %>  <!-- お知らせのタイトルをリンクとして表示 -->
    </li>
  <% end %>
</ul>
