<!-- app/views/announcements/show.html.erb -->
<h1><%= @announcement.title %></h1>
<p><%= @announcement.explanation %></p>

<div class="announcement-images">
  <% @announcement.images.each do |image| %>
    <%= image_tag url_for(image), alt: 'Announcement Image', class: 'announcement-image' %>
  <% end %>
</div>