/* 共通スタイル */
body {
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #e0f7fa;
  margin: 0;
  padding: 0;
}

header {
  width: 100%; /* 横幅いっぱいに設定 */
  height: 100px; /* 高さを指定 */
  overflow: hidden; /* コンテンツがはみ出ないようにする */
  position: relative; /* 子要素の位置を相対的に */
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* 親要素の高さに合わせる */
}

.header-image {
  width: 100%; /* 横幅を画面に合わせる */
  height: auto; /* 高さを自動調整 */
}

footer {
  background-color: #0288d1;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

