html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#calendar {
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  max-width: none !important; /* 重要フラグで強制上書き */
}
